body {
<<<<<<< HEAD
    margin: 2px;
    padding: 0;
    font-family: sans-serif;
=======
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: #E6ECF0;
>>>>>>> Add more entities
}

.content {
    display: block;
    position: relative
}

.navbar {
    border-bottom: 1px solid #DAE0E4;
    background: #fff;
    height: 50px;
    padding: 2px;
}

.navbar-nav {
    flex-direction: row;
}

<<<<<<< HEAD
=======
.text-muted:hover {
    text-decoration: none;
}

>>>>>>> Add more entities
.btn-primary,
.btn-primary:hover {
    background-color: #91D2FA !important;
    border: none;
}

a:hover,
.stats {
    color: #91D2FA;
    text-decoration: none
<<<<<<< HEAD
}

.navbar-brand {
    color: red !important;
}

.nav-link a {
    color: #24292e !important;
    font-size: 14px
}

.homeImg {
    height: 50% !important;
=======
>>>>>>> Add more entities
}